<!DOCTYPE html>
<html>
  <head>
    <title>Dischat</title>
    <%= csrf_meta_tags %>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script>
        window.currentUser = <%= render('/api/users/user.json.jbuilder', user: current_user).html_safe %>;
      </script>
    <% end %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
